.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.skill-group {
  width: 70%;
  margin: 0 auto;
}

.skills-subheading {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
