.cardContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  border-radius: 15px;
  background-color: var(--darkblue75);
  box-shadow: 1px 1px 10px var(--orange90);
  width: 90%;
  padding: 0.5rem;
  color: var(--title-color);
}

.cardContainer:hover {
  animation: upAndDown 1s ease infinite;
  box-shadow: 4px 4px 10px var(--orange100);
}

@keyframes upAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.border {
  background-color: var(--orange90);
  border-radius: 30%;
  margin: 0 auto;
  transform: scale(0.75);
}

.cardImg {
  padding: 0.5rem;
  height: 48px;
  width: 48px;
}

/* Media Queries */
@media (max-width: 1140px) {
  .cardContainer {
    width: 100%;
  }
}

@media (max-width: 680px) {
  .cardContainer {
    grid-template-columns: 1fr 3fr;
    padding-left: 0;
    padding-right: 0;
  }

  .cardContainer h4 {
    font-size: 1rem;
  }
}

@media (max-width: 610px) {
  .cardImg {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 530px) {
  .cardContainer h4 {
    margin-left: 0.5rem;
  }
}
