.hero-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
  margin: 6rem auto;
  align-items: center;
}

.heroText {
  width: 80%;
  margin: auto;
  padding: 1rem;
  animation: slideIn 1s ease-in;
}

.heroText h1 {
  line-height: var(--lineHeightLarge);
}

.heroText h3 {
  line-height: var(--lineHeightMedium);
}

@keyframes slideIn {
  0% {
    transform: translateX(-3%);
  }

  100% {
    transform: translateX(0%);
  }
}

.imageContainer {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  /* animation: slideIn 2s backwards; */
}

@keyframes slideOut {
  0% {
    transform: translateX(-15%);
  }

  100% {
    transform: translateX(0%);
  }
}

.heroImage {
  width: 80%;
  box-shadow: 10px 10px 6px var(--orange90);
  margin: 0 auto;
}

.highlight {
  color: var(--orange90);
  font-weight: inherit;
}

.resumeBtn {
  width: 40%;
  border: 3px solid var(--orange90);
  background-color: transparent;
  margin-top: 3rem;
  padding: 1rem;
  color: var(--orange90);
  font-weight: inherit;
}

.resumeBtn:hover {
  background-color: var(--orange50);
  color: var(--darkblue90);
  box-shadow: 2px 2px 5px var(--orange90);
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><circle cx="15" cy="15" r="10" fill="darkblue" stroke="orange" stroke-width="2"/></svg>')
      15 15,
    auto;
}

/* Media Queries */

@media (max-width: 850px) {
  .heroText {
    transform: scale(0.7);
    width: 100%;
    padding: 0;
  }

  .heroImage {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
  }

  .heroImage {
    width: 100%;
  }
}

@media (max-width: 580px) {
  h1 {
    @apply text-3xl lg:text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }
}

/* Mobile View */
@media (max-width: 450px) {
  .hero-container {
    grid-template-columns: 1fr;
  }

  .heroText {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    transform: scale(0.9);
  }

  .heroImage {
    width: 65%;
  }
}
