.navbar-container {
  background-color: var(--darkblue75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 5rem;
  position: fixed;
  top: 0;
  transform-origin: center;
  animation: openNav 1s ease-in-out forwards;
  border-bottom: 5px solid var(--darkblue90);
}

.logo {
  font-size: var(--fontSizeXXLarge);
}

ul {
  list-style: none;
  padding: 0;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-self: center;
  font-size: var(--fontSizeSmall);
  font-weight: var(--fontWeight);
}

.nav-list li {
  height: 100%;
  margin: auto;
}

.nav-list li:hover {
  text-shadow: 3px 3px 4px var(--orange90);
  animation: enlarge 0.5s ease-in;
  transform: scale(1.2);
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes openNav {
  0% {
    transform: scaleX(0.98);
  }

  100% {
    transform: scaleX(1);
  }
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .navbar-container {
    grid-template-columns: 1fr 1.5fr;
    padding: 1rem 3rem;
  }
}

/* Mobile View */
@media (max-width: 680px) {
  .navbar-container {
    grid-template-columns: 2fr 1fr;
  }

  .nav-list {
    width: 100%;
    height: 100%;
  }

  .nav-list li {
    margin-top: 1rem;
  }
}
