.footer {
  width: var(--sectionWidth);
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin-top: 4rem;
  border-top: 1px solid var(--orange100);
  margin-left: auto;
  margin-right: auto;
}

.footer h4 {
  text-align: center;
  margin-top: 1rem;
  font-size: var(--fontSizeSmall);
}

.footerLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 20%;
  margin: 0.5rem auto;
}

.footerLinks a {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.footerLinks a:hover {
  transform: scale(1.1);
}

.arrowContainer {
  display: flex;
  justify-content: flex-end;
}

.upArrow {
  padding: 0.5rem;
  background-color: var(--orange100);
  opacity: 60%;
  animation: bounce 2s ease-in infinite;
  width: 4%;
  text-align: center;
  border-radius: 40px;
  color: var(--darkblue100);
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSizeLarge);
}

.upArrow:hover {
  box-shadow: 2px 2px 5px var(--orange50);
  animation: bounce 2s ease-in;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Media Queries */
@media (max-width: 1200px) {
  .footerLinks {
    width: 40%;
  }

  .upArrow {
    width: 6%;
    border-radius: 30px;
  }
}

@media (max-width: 900px) {
  .footerLinks {
    width: 40%;
  }

  .upArrow {
    width: 10%;
    border-radius: 30px;
  }
}

@media (max-width: 500px) {
  .footerLinks {
    width: 60%;
  }

  .upArrow {
    width: 15%;
    border-radius: 30px;
  }
}

@media (max-width: 400px) {
  .footerLinks {
    width: 70%;
  }

  .upArrow {
    width: 20%;
    border-radius: 100px;
    padding: 0.2rem;
  }

  .footer h4 {
    font-size: var(--fontSizeXSmall);
  }
}
